button{
    background-color: black;
    color: white;
    border-color:white;
}

button:hover{
    background-color: white;
    color: black;
    border-color: black;
}

.tab{
    margin: 10px 10px;
}